<template>
<Auth>
  <div>
    <div>
    <div class="container-fluid">
      <span class="text"
        ><img src="../assets/logo.png" class="img-rounded" style="width: 5%" />
        คณะวิทยาการสารสนเทศ</span
      >
      <button @click="$store.commit('logout')"
      type="button" class="btn btn-light btn-sm" style="float: right">
        ออกจากระบบ
      </button>
    </div>
  </div>
  <div><br /><br />
    <div>
      <b-button-group style="float: left;">
        <b-button variant="primary">เอกสารที่ต้องเซ็น</b-button>
      </b-button-group>
    </div>
    <div><br /><br /></div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>รหัสนิสิต</th>
            <th>ชื่อ-สกุล</th>
            <th>เอกสาร</th>
            <th>อัพโหลด</th>
            <th>ยกเลิก</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in document" :key="index">
              <td>{{item.studentId}}</td>
              <td>{{item.name}}</td>
              <td>{{item.fileName}}</td>
              <td>
                
              </td>
              <td>
                <PopupCancelOfficer :document="item.docId"/>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  </Auth>
</template>
<script>
// import Auth from "../components/Auth";
import axios from "axios";
import PopupCancelOfficer from "../componentOfficer/PopupCancelOfficer.vue";
export default {
  data() {
    return {
      document : [],
    };
  },
  methods: {
    getData() {
      axios
        .get("http://localhost:3000/sendingDetails/"+"62e4e7ab4b51cc19fcf42d61")
        .then((res) => {
          this.document = res.data;
          console.log(this.document);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  components: {
    PopupCancelOfficer,
    // Auth
  },
  mounted() {
    this.getData();
  },
};
</script>
<style>
.pro {
  color: blue;
}
container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.butontop {
  float: right;
}
.pro {
  color: rgb(251, 255, 0);
}
</style>
