<template>
  <Auth>
    <div>
      <div>
        <div class="container-fluid">
          <span class="text"
            ><img
              src="../assets/logo.png"
              class="img-rounded"
              style="width: 5%"
            />
            คณะวิทยาการสารสนเทศ</span
          >
          <button
            @click="$store.commit('logout')"
            type="button"
            class="btn btn-light btn-sm"
            style="float: right"
          >
            ออกจากระบบ
          </button>
        </div>
      </div>
      <div>
        <a style="float: left">ดาวน์โหลดเอกสารต่างๆ</a><br />
        <p>
          <a
            href="https://reg.buu.ac.th/registrar/downloadform.asp?avs79175170=1"
            style="float: left"
            >https://reg.buu.ac.th/registrar/downloadform.asp?avs79175170=1</a
          >
        </p>
      </div>
      <br />
      <div>
        <popup-load></popup-load>
        <button
          v-b-modal.bv-modal-popupLoad
          style="float: left"
          class="btn btn-outline-primary"
        >
          อัปโหลดเอกสาร
        </button>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>สถานะ</th>
              <th>เอกสาร</th>
              <th>ส่งเอกสาร</th>
              <th>ลบเอกสาร</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in document" :key="index">
              <td>{{ item.status }}</td>
              <td>{{ item.type }}</td>
              <td>
                <PopupSend></PopupSend>
              </td>
              <td>
                <PopupDelecte :document="item._id"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </Auth>
</template>
<script>
import PopupSend from "../components/PopupSend.vue";
import PopupDelecte from "../components/PopupDelecte.vue";
import PopupCancel from "../components/PopupCancel.vue";
import PopupLoad from "../components/PopupLoad.vue";
import axios from "axios";
// import Auth from "../components/Auth";

export default {
  data() {
    return {
      document: [],
    };
  },
  methods: {
    getData() {
      axios
        .get("http://localhost:3000/documents/"+"62e4e7ab4b51cc19fcf42d60")
        .then((res) => {
          this.document = res.data;
          console.log(this.document);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  components: {
    PopupDelecte,
    PopupCancel,
    PopupLoad,
    PopupSend,
    // Auth
  },
  mounted() {
    this.getData();
  },
};
</script>

<style>
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4863a0;
  text-align: left;
}
.text {
  color: aliceblue;
  font: 2em sans-serif;
}
.butontop {
  float: right;
}
.pro {
  color: rgb(251, 255, 0);
}
</style>
