<template>
  <div>
    <b-button variant="primary" id="show-btn" @click="$bvModal.show('bv-modal-popupSend')"
      >ส่ง</b-button
    >
    <b-modal id="bv-modal-popupSend" title="ข้อมูล" hide-footer>
      <div class="container mt-3">
        <form action="/action_page.php">
          <div class="mb-3 mt-3">
            <label for="idName">รายชื่อ:</label>
            <input
              class="form-control"
              id="idName"
              placeholder="ใส่ชื่ออาจารย์ที่ต้องการส่ง"
              name="idName"
            />
          </div>
          <div class="mb-3">
            <label for="name">หมายเหตุ:</label>
            <b-form-textarea
              id="textarea-rows"
              placeholder="Tall textarea"
              rows="8"
            >
            </b-form-textarea>
          </div>
        </form>
      </div>

      <b-button
        variant="danger"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupSend')"
        >ยกเลิก</b-button
      >

      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupSend')"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
