<template>
  <div>
    <b-button id="show-btn" @click="$bvModal.show('bv-modal-popupCancel')"
      >ยกเลิกเอกสาร</b-button
    >
    <b-modal id="bv-modal-popupCancel" hide-footer>
      <!-- <template #modal-title></template> -->
      <div class="d-block text-center">
        <h3>ต้องการยกเลิกเอกสารใช่หรือไม่</h3>
      </div>
      <b-button
        variant="danger"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupCancel')"
        >ยกเลิก</b-button
      >

      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupCancel')"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
