<template>
  <div>
    <b-modal id="bv-modal-popupLoad" title="ข้อมูล" hide-footer>
      <div class="container mt-3">
        <form action="/action_page.php">
          <div class="mb-3 mt-3">
            <label for="idNumber">รหัสนิสิต:</label>
            <input
              class="form-control"
              id="idNumber"
              placeholder="ใส่รหัสนิสิต"
              name="idNumber"
            />
          </div>
          <div class="mb-3">
            <label for="name">ชื่อ-สกุล:</label>
            <input
              class="form-control"
              id="name"
              placeholder="ใส่ชื่อนิสิต"
              name="name"
            />
          </div>

          <v-button class="btn btn-outline-primary">อัปโหลดไฟล์</v-button>

          <p style="color:red;">*อัปโหลดเอกสาร RE (PDF เท่านั้น)</p>
        </form>
      </div>

      <b-button
        variant="danger"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupLoad')"
        >ยกเลิก</b-button
      >

      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupLoad')"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
