<template>
  <div>
     <b-button variant="danger" id="show-btn" @click="$bvModal.show('bv-modal-popupDelect')"
      >ลบ</b-button
    >
    <b-modal id="bv-modal-popupDelect" hide-footer>
      <!-- <template #modal-title></template> -->
      <div class="d-block text-center">
        <h3>ต้องการลบเอกสารใช่หรือไม่</h3>
      </div>
      <b-button
        variant="danger"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupDelect')"
        >ยกเลิก</b-button
      >
      <b-button
        variant="primary"
        style="float: right;"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupDelect'), delectData(document)"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props:[
    "document",
  ],
  data() {
  },
  methods: {
    delectData(document) {
      axios
        .delete("http://localhost:3000/documents/"+document)
        .then((res) => {
          console.log(this.document);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getData(document){
      this.document = document
    }
  }
};
</script>
<style></style>
