<template>
  <div>
    <b-button variant="danger" id="show-btn" @click="$bvModal.show('bv-modal-popupCancel')"
      >ยกเลิก</b-button
    >
    <b-modal id="bv-modal-popupCancel" title="หมายเหคุ" hide-footer>
      <!-- <template #modal-title></template> -->
      <div class="d-block text-center">
        <div class="mb-3">
          <label for="name" id="name_label">หมายเหตุที่ยกเลิก:</label>
          <b-form-textarea
            id="textarea-rows"
            placeholder="Tall textarea"
            rows="8"
          >
          </b-form-textarea>
        </div>
      </div>
      <b-button
        variant="danger"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupCancel')"
        >ยกเลิก</b-button
      >

      <b-button
        variant="primary"
        class="mt-3"
        block
        @click="$bvModal.hide('bv-modal-popupCancel'),delectData(document)"
        >ตกลง</b-button
      >
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props:[
    "document",
  ],
  data() {
  },
  methods: {
    delectData(document) {
      axios
        .delete("http://localhost:3000/sendingDetails/"+document)
        .then((res) => {
          console.log("Del");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getData(document){
      this.document = document
    }
  }
};
</script>
<style>
#name_label {
  display: inline-block;
  width: 100%;
  text-align: left;
}
</style>
